body{
    font-family: 'Moon Dance', cursive;
}
h1{
    size: 50px;
}
.name-hilight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width image{
    width: 100%;
}
